* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F6F8F9;
}

#logo-box {
    background: no-repeat url(../img/logo\ copia.png) #ffffff 1% 50%;
    min-height: 65px;
}

h1 {
    margin-left: 2.4em;
    padding-top: 0.4em;
}